<div id="consol">



    <div class="row">
      <div id="topbar" class="12u fixed">
        <img src="img/drop_logo_consol.png">
        
          <a class="topbar_nav" href="#/drop_upload">DROP IT</a>
          <a class="topbar_nav" href="#/userProfile">PROFILE</a>
          <a class="topbar_nav" href="">CREW</a>
          <a class="topbar_nav" href="">LOVE</a>
          <a class="topbar_nav" href="">SETTINGS</a>
        
      </div>
    </div>



    <div class="row">

      <div class="12u">
      
        <img id="cover" src="img/cover.png">
      </div> <!-- 12u -->
    </div> <!-- row -->

    <div class="row">

      <div id="crew_img" class="12u">
        <img src="img/pro_pic_lrg.png">

        <h1>BROCK STONE</h1>

         <div id="drop_profile">
          <ul>
            <li><a style="margin-right: 5px;" href=""><span>5</span><br/>DROPS</a></li>
            <li><a style="margin-right: 5px;" href=""><span>22</span><br/>RADS</a></li>
            <li><a href=""><span>15</span><br/>FRIENDS</a></li>
          </ul>
        </div>



      </div> <!-- 12u -->
    </div> <!-- row -->

    <div class="row">

      <div id="profile_info" class="4u">

        <a href="">FOLLOW RIDER</a>

        <h2 class="rider">RIDER DATA</h2>
        <h3>HOME MOUNTAIN</h3>
        <p>7 SPRINGS MOUNTAIN RESORT</p>
        
        <h3>RIDING TERRAIN</h3>
        <p>PARK / ALL MOUNTAIN</p>
        
        <h3>CURRENTLY RIDING..</h3>
        <p>Burton Parkitect 157''</p>

      </div>

      <div id="recent_drop" class="">
        <p>RECENT DROPS</p><br/>
        <img src="img/drop_02.png">
         <img src="img/drop_03.png">
         <img src="img/drop_02.png">
         <img src="img/drop_03.png">
         <img src="img/drop_02.png">
         <img src="img/drop_03.png">
      </div>
        

      

    </div>  

  
</div>
