<!-- Ion View and Header logo -->
<ion-view title="<img class='headLogo' src='img/drop_head_logo.svg'>">

  <!-- Toggle Menu Left -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- Drop Camera -->
  <ion-nav-buttons side="right">
    <button ng-click="showUploadOptions();" class="button button-icon icon ion-ios7-videocam"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <div id="vid_type">
    <label class="item item-input item-select">
    <div class="input-label">
      Drops
    </div>
    <select>
      <option selected>Popular</option>
      <option>Crew</option>
      <option>Friends</option>
      <option>Bails</option>
    </select>
  </label>
  </div>

  </div>
   
  <!-- Drop Feed -->
  <ion-content id="home" class="has-header">
    
    <div class="list card dropcard" ng-repeat="drop in drops">
    <!-- Drop username & location -->
      <div class="item item-avatar" >
        <img src="">
        <!-- <h2>{{drop.username}}</h2> -->
        <h4>Brock Stone</h4>
        <h4>Uploaded a Drop</h4>
      </div>

      <!-- Drop video, trick, feature, likes -->
       <video class="full-image" controls width="100%">
        <source src="{{drop.vid_url}}" type='video/mov' />
      </video>
      
      <div id="trick">
        


        <div class="row">
          <div class="col">
            <p>
              <!-- <p>{{drop.trick_ex}} on {{drop.park_feature}}</p> -->
              <h4>BS GRIND ON DOWN LEDGE</h4>
              <h4 id="trick_show">7 SPRINGS</h4>
              <h4><a href="#"> <i class="icon ion-thumbsup"></i> 19 RIDERS THINK THIS IS RAD</a></h4>
            </p>
          </div>
        </div>
      </div>

      <!-- Rad tabs ( Like, Share ) -->
      <div class="row" id="rad_tabs">
        <div class="col">
           <!-- <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Rad
            </a> -->
           <a id="rad_btn" href="#">RAD</a>

           <a id="comment_btn" href="#">COMMENT</a>
     
            
            <!-- <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a> -->
        </div>
      </div>

    </div><!--  / list card -->
  </ion-content>
</ion-view>


