<div class="row">
  
  <div class="11u">
  
    <img src="img/drop_logo_main.png">
    </div>

  <div class="1u">
    <h3><a id="login_btn" href="">LOGIN</a></h3>
  </div>
</div> 


<div class="container">
      <!-- Header -->
        <div id="header" class="row">
          <div id="cta" class="12u center_align">
            <h1>BS 360&deg; METHOD</h1>
            <p>Show off your riding skills, personal riding experiences and riding stlyes. Drop in...</p>
            <a id="facebook" href="">Drop in with Twitter</a><a id="facebook" href="">Drop in with Facebook</a>
          </div>
        </div>
</div>      


