<div id="consol">
  <div class="row">
    <div class="2u" id="consol_left">
      
      <img src="img/drop_logo_consol.png"><br/>

      <p><a id="upload_drop" href="">Upload</a></p>

      <ul id="consol_nav">
        <li><a href="">PROFILE</a></li>
        <li><a href="">CREW</a></li>
        <li><a href="">LOVE</a></li>
        <li><a href="">SETTINGS</a></li>
      </ul>


    </div>

    <div class="10u" id="consol_right">

      <h1 style="color:red;">Drops</h1>
      
      <div id="drop_card" style="clear:left">

        <video style="float:left;" width="605" height="340" controls>
          <source src="vids/openingwkend.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>

        <h4>Brock Stone</h4>
        <h4>BS 540 TAIL GRAB</h4>

      </div>

      <p></p>
      <div id="drop_card" style="clear:left;">

        <video style="float:left;" width="605" height="340" controls>
          <source src="vids/openingwkend.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>

        <h4>Brock Stone</h4>
        <h4>BS 540 TAIL GRAB</h4>

      </div>



    </div>

  </div>
</div>
