<div id="consol">



    <div class="row">
      <div id="topbar" class="12u fixed">
        <img src="img/drop_logo_consol.png">
        
          <a class="topbar_nav" href="#/drop_upload">DROP IT</a>
          <a class="topbar_nav" href="#/userProfile">PROFILE</a>
          <a class="topbar_nav" href="">CREW</a>
          <a class="topbar_nav" href="">LOVE</a>
          <a class="topbar_nav" href="">SETTINGS</a>
        
      </div>
    </div>



    <div class="row menu">

      <div class="12u">
      
        <div id="drop_card">

          <video style="" width="675" height="380" controls>
            <source src="vids/sand.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>

          <div id="drop_card_info">

            <div id="card_top">
              <img src="img/pro_pic.png">
              <h3>BROCK STONE<br/><span>UPLOADED A DROP</span></h3>
            </div>

            <div id="card_btm">
              <img id="loc" src="img/location.png"><a id="link" href="">New Zealand</a>
              <p>Riding out in New Zealand was absolutly an epic adventure. Cannot wait to go back!</p>

              <h4>TRICKS</h4>
              <div class="card_tricks">
                <a href="">CAB 1080 Triple Cork</a>,
                <a href="">Tail Grab Late Method</a>,
                <a href="">Rodeo Underflip</a>
              </div>
            </div>

            <div id="card_footer">
              <a href=""><h5>201 RADS</h5></a>
              <a href=""><h5>20 COMMENTS</h5></a>
            </div>
          </div>  

        </div> <!-- / drop_card -->

      </div> <!-- 12u -->
    </div> <!-- row -->

    <div class="row">

      <div class="12u">
      
        <div id="drop_card">

          <video style="" width="675" height="380" controls>
            <source src="vids/openingwkend.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>

          <div id="drop_card_info">

            <div id="card_top">
              <img src="img/pro_pic.png">
              <h3>BROCK STONE<br/><span>UPLOADED A DROP</span></h3>
            </div>

            <div id="card_btm">
              <img id="loc" src="img/location.png"><a id="link" href="">New Zealand</a>
              <p>Riding out in New Zealand was absolutly an epic adventure. Cannot wait to go back!</p>

              <h4>TRICKS</h4>
              <div class="card_tricks">
                <a href="">CAB 1080 Triple Cork</a>,
                <a href="">Tail Grab Late Method</a>,
                <a href="">Rodeo Underflip</a>
              </div>
            </div>

            <div id="card_footer">
              <h5>201 RADS</h5>
            </div>
          </div>  

        </div> <!-- / drop_card -->

      </div> <!-- 12u -->
    </div> <!-- row -->

  
</div>
