<div id="consol">



    <div class="row">
      <div id="topbar" class="12u fixed">
        <img src="img/drop_logo_consol.png">
        
          <a class="topbar_nav" href="#/drop_upload">DROP IT</a>
          <a class="topbar_nav" href="">PROFILE</a>
          <a class="topbar_nav" href="">CREW</a>
          <a class="topbar_nav" href="">LOVE</a>
          <a class="topbar_nav" href="">SETTINGS</a>
        
      </div>
    </div>



    <div class="row menu">
      <div class="12u">
      
      <div id="drop_profile">
        
        <img src="img/pro_pic_lrg.png">

        <div id="profile_info">
          <h2>BROCK STONE</h2>
          <ul>
            <li><a style="margin-right: 5px;" href=""><span>5</span><br/>DROPS</a></li>
            <li><a style="margin-right: 5px;" href=""><span>22</span><br/>RADS</a></li>
            <li><a href=""><span>15</span><br/>FRIENDS</a></li>
          </ul>
        </div>



        <a id="btn" href="">+ FOLLOW RIDER</a>

        <h3>ABOUT</h3>

        <p>I Hail from the "Ice-Coast", Pennsylvania to be exact. Been Riding since I was 12. I love to ride park and all mountain. Follow me to watch my drops! Keep it rad!</p>

        <hr>

        <h3>RIDER STATISTICS</h3>

        <p>HOME MOUNTAIN - <a class="stat" href="">7 Springs Mountain Resort, Champion PA, 15601</a></p>

        <p>PREFEERD TERRAIN - <a class="stat" href="">PARK / ALL - MOUNTAIN</a></p>

        <p>MY BOARD - <a class="stat" href="">Burton Parkitect 157''</a></p>

        <p>MY BINDINGS / STANCE - <a class="stat" href="">Burton Mission ( LEFT - -15&deg;</a></p>

        <h3>RECENT DROPS</h3>

        <img src="img/drop_01.png">
        <img src="img/drop_01.png">
        <img src="img/drop_01.png">







      </div>
      
        
      </div> <!-- 12u -->
    </div> <!-- row -->
</div>
