<div id="home">
  
  <div class="row">
  
  <div class="9u">
  
    <a href="#/"><img src="img/drop_logo_main.png"></a>
    </div>

  <div class="3u" ng-controller="loginCtrl">
   <p><a id="login_btn" href="" ng-click="goToDrop();">Welcome back {{user.displayName}}!</a></p>
  </div>
</div> 


  <div class="container">
        <!-- Header -->
          <div id="header" class="row">
            <div id="cta" class="12u center_align">
              <h1>BS 360&deg; METHOD</h1>
              <p>Show off your riding skills, personal riding experiences and riding stlyes. Drop in...</p>
              <a class="btn btn-outline" href="" ng-click="login('facebook');">Drop in with Twitter</a><a id="facebook" href="">Drop in with Facebook</a>
            </div>
          </div>
  </div> 
</div>

<div id="home_sec_crew">
  
  <div class="row">
  
      <img src="img/crew.png">
      <h3 class="center_align">GATHER THE CREW</h3>
      <ul>
        <li>Create Crew Profiles</li>
        <li>Share Crew Members Rider Statistics</li>
        <li>Share Crew Drops</li>
        <li>Rep your Crew!</li>
      </ul>


  </div> 

</div>

<div id="home_sec_one">
  
  <div class="row">
  
      <div class="12u center_align">
        <h2>MOBILE APP</h2>
        <p>Not only was Drop created as a web app but also for iOS. The iOS Drop application allows for you <br/>riders to get out ther film your spectacular riding with your friends and share with the <br/>Drop Riders community. Sign up today and start to Drop!</p>
      </div>


  </div> 

  <div class="container">
      <!-- Header -->
        <div id="header" class="row">
          <div id="cta" class="12u center_align">
           <img src="img/iphones.png">
          </div>
        </div>
  </div> 
</div>

<div id="footer_home">
  
  <div class="row">
  
      <div class="12u center_align">
      <img src="img/drop_footer.png"><br/>

        <ul>
          <li><a href="">Back to Top</a></li>
          <li><a href="">Sign Up for Drop</a></li>
          <li><a href="">Terms of Use</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>


        <img src="img/united.png"><br/>
        <p>Drop Snowboarding Inc. Copyright 2014 &copy; <a href="">A Brock Stone Design</a></p>
      </div>

  </div> 

</div>




